body{
    font-family: "Roboto Light";
    font-size: 18px;
    background-color: #222426;
}

form{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    background-color: white;
}
.weather{
    display: block;
    width: 500px;
    height: 250px;
    border-bottom: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #136C6C;
    margin-bottom: 10px;
}
.weather-date{
    font-size: 30px;
    height: 60px;
    border-bottom: 1px solid #009fff;
}
#currentDate{
    position: absolute;
    margin: 0;
    color: rgb(232, 230, 227);
    top: 15px;
    left: 18px;
}
#currentTime{
    position: absolute;
    margin: 0;
    top: 15px;
    left: 420px;
    color: rgb(232, 230, 227);
}
.weather-location{
    margin: 0;
    width: 322px;
    height: 190px;
    border-right: 1px solid #009fff;
}
.weather-location__images{
    position: absolute;
    top: 60px;
    left: -12px;
    width: 90px;
}
.weather-location__cityName{
    position: absolute;
    left: 100px;
    top: 73px;
    font-size: 30px;
    color: rgb(232, 230, 227);
}
.weather-location__temperature{
    position: absolute;
    left: 100px;
    top: 120px;
    font-size: 30px;
    color: rgb(232, 230, 227);
}
.weather-location__feelslike{
    position: absolute;
    left: 17px;
    top: 166px;
    font-size: 20px;
    color: rgb(232, 230, 227);
}
.weather-location__weatherType{
    position: absolute;
    left: 17px;
    top: 200px;
    font-size: 20px;
    color: rgb(232, 230, 227);
}

#inputField{
    position: relative;
    background-image: url("./images/lupa.svg");
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: 10px;
    width: 250px;
    height: 50px;
    margin-left: 110px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 40px;
    outline: none;
    font-size: 18px;
}
.citiesList{
    display: none;
    position: relative;
    width: 270px;
    border: 1px solid black;
    margin-left: 120px;
    margin-top: -2px;
    list-style-type: none;
    padding: 0;
    background-color: #EEEEEE;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
li{
    font-size: 20px;
    color: #009fff;
    margin-bottom: 5px;
    padding-left: 10px;
}
li:hover{
    background-color: #009fff;
    color: white;
    cursor: context-menu;
}